#stats-table > div {
  padding: 0;
}

#stats-header {
  text-align: center;
}

.char-stats > label{
  text-align: center;
}

#Calc-wrapper {
  width: 33%;
  min-width: 500px;
  margin: auto;
  margin-top: 1rem;
}

#calculate button {
  width: 100%;
}

#totals > div > span:nth-child(2) {
  float: right;
}

#DPM-max {
  color: red;
}

#DPM-avg {
  color: green;
}

#DPM-min {
  color: blue;
}